* {
    --color-dark: #212529;
    --color-white: #fff;
    --color-warning: #FFC107;
    --color-orange: #F48D02;
    --color-primary: #689EEE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* Estilizações globais */
a {
    text-decoration: none;
}

/* Header */
header h1 {
    font-size: 2.6rem;

}

header form input {
    font-size: 1.2rem !important;
    padding: 0 2rem !important;
    width: 40rem !important;
    outline: none !important;
    color: var(--color-dark) !important;
}


header form input:focus {
    box-shadow: 0 0 0.5rem var(--color-warning) !important;
    font-weight: bold !important;
}

header form button {
    position: relative;
    top: 0;
    right: 4rem;
}

/* Determina o tamanho do botão toggle */
.navbar-toggler-icon {
    font-size: 1.6rem;
}

header .icons-header a:hover {
    transition: .2s;
    color: var(--color-warning) !important;
}


.link-bag .bag {
    position: relative;
}

/* Exibe a quantidade de produtos inseridos na sacola p/ compra */
.link-bag .bag::after {
    content: '0';
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--color-warning);
    border-radius: 1rem;

    position: absolute;
    bottom: -0.5rem;
    right: -0.5rem;


    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-dark);
    text-align: center;
    line-height: 1.6rem;
    font-weight: 900;
}


/* Seção de navegação */
#navigation {
    /* Alinha o Menu de navegação ao centro */
    display: flex;
    justify-content: center;
}

#navigation a {
    font-weight: bold;
    padding: 0 1rem;
}

#navigation a:hover {
    color: var(--color-orange);
}


/* Ajustes no input para inserção do CEP */
.navbar form input {
    font-size: 1.2rem !important;
    padding: 0 2rem !important;
    outline: none !important;
    color: var(--color-dark) !important;
}

.navbar form input:focus {
    box-shadow: 0 0 0.5rem var(--color-warning) !important;
    font-weight: bold !important;
}


/* tamanho dos itens (menu dropdown) */
.dropdown-menu .dropdown-item {
    font-size: 1.4rem;
} 


.carousel-caption h3 {
    font-size: 2.4rem;
    color: var(--color-white);
    font-weight: bold;
    text-shadow: 0 0 1rem var(--color-orange), 0 0 1rem var(--color-dark), 0 0 1rem var(--color-orange);

}

/* Modifica a cor dos indicadores do carousel */
.carousel-indicators button {
    background-color: var(--color-dark) !important;
}

/* Modifica a cor dos passadores (setas) do carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--color-dark) !important;
    border-radius: 50%;
    padding: 1.6rem;
}


/* Info de entrega e parcelamento */
#buy-delivery .buy-info .material-symbols-outlined {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 1rem;
    border-radius: 50%;
}

#buy-delivery .buy-info span {
    font-size: 1.8rem !important;
}




/* Responsividade */
@media (max-width: 991px) {

    header {
        flex-direction: column;
        gap: 1rem;
    }

    /* Seção de navegação */
    #navigation {
        /* Alinha o Menu de navegação ao lado direito */
        justify-content: start;
    }

    #navigation .navbar-nav a.nav-link {
        width: 100vw;
    }

}